.sidebar{
   margin-top: -108px;
    width: 25%;
}
.items{
    display: flex;
    align-items: center;
}
.items h2{
    padding-left: 10px;
}
.items img{
    height: 40px;
    padding: 15px;
    padding-right: 20px;
}
.items .toggleImage{
    height: 20px;
   margin-left: 40%;
}
.sidebar_header{
    display: flex;
    
    height: 10%;
    padding: 10px;
    align-items: center;
}
.sidebar_header h2{
    color:#3F0E40 ;
}
.sidebar_header h2 span{
    font-weight: bolder;
    
}
.sidebar_header img{
    padding: 20px;
height: 40px;
}
.items_special{
    width: 100%;
    display: flex;
 
    align-items: center;
   
background-color: #3F0E40;
color: white;
margin-top: 3px;
}
.items_special img{
    color: white;
}